<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj samochód</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link th:href="@{/css/mainStyle.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin,latin-ext' rel='stylesheet'
          type="text/css"/>

    <link th:href="@{/css/fontello.css}" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" th:src="@{/js/timer.js}"></script>
</head>
<body onload="odliczanie()">
<div>
    <div class="container-fluid" id="nav">
        <div class="row justify-content-between" style="padding: 5px">
            <div class="col-1">
                <button type="button" class="btn btn-secondary" id="zegar"></button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-secondary">Zaloguj</button>
            </div>
        </div>

    </div>
    <div class="container" id="header">
        <div class="col-7" style="display: inline-block">
            <div class="row">
                <h1 class="display-5"><b>Auto Komis <i style="color: red">U ŚWAGIERA</i></b></h1>
            </div>
            <div class="row">
                <h3>Szczegóły pojazdu</h3>
            </div>
        </div>
        <div class="col-3" id="foto">
            <img th:src="@{/images/image1.png}" alt="zdjęcie samochodu"/>
        </div>

    </div>
    <div class="container" style="background-color: #595959; height: 100% ;padding: 0">
        <div class="row no-gutters">
            <div style="background-color: #595959; height: auto; display: inline-block; width: 27%;">
                <div class="row menu">
                    <ul>
                        <li>
                            <h3>MENU</h3>
                        </li>
                        <li>
                            <a th:href="@{/login}">
                                <button type="button" class="btn btn-secondary">Logowanie</button>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/auto-komis/cars}">
                                <button type="button" class="btn btn-secondary">Przeglądaj samochody</button>
                            </a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-secondary">Kontakt</button>
                        </li>
                    </ul>
                </div>
                <div class="row" style="background-color: #262626; height: auto; margin: 10px; color: whitesmoke">
                    <ul>
                        <li>
                            <h3>Panel Klienta</h3>
                        </li>
                        <li>
                            <button type="button" class="btn btn-secondary">Umów się na spotkanie
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
            <div style="background-color: #595959; height: auto; display: inline-block; width: auto; padding: 10px; color: ghostwhite">
                <h1>Dodaj samochód</h1>
                <form th:action="@{/auto-komis/cars}" th:object="${newCar}" method="post">
                    <table>
                        <tr>
                            <td>Marka</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{manufacturer.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{model.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Rodzaj paliwa</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{fuel}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Rok produkcji</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{productionYear}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Rodzaj podwozia</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{bodyType}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Przebieg</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{mileage}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Cena</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{price}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Silnik</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{engine}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Moc (KM)</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{power}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Rodzaj skrzyni biegów</td>
                            <td width="200px">
                                <select name="transmission">
                                    <option value="0">manualna</option>
                                    <option value="1">automat</option>
                                    <option value="2">półautomat</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>Numer nadwozia</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{bodyNumber}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Numer dowodu rejestracyjnego</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{documentNumber}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Numer ubezpieczenia</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{insuranceNumber}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Opis</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{description}"/>
                            </td>

                        </tr>
                        <tr>

                            <td></td>
                            <td></td>

                            <td>
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Dodaj do bazy"/>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="socials">
    <div class="socialdivs">
        <div class="fb">
            <i class="icon-facebook"></i>
        </div>
        <div class="yt">
            <i class="icon-youtube"></i>
        </div>
        <div class="tw">
            <i class="icon-twitter"></i>
        </div>
        <div class="gplus">
            <i class="icon-gplus"></i>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div class="container-fluid" id="footer">
    Auto-Komis U ŚWAGIERA &copy; 2018
</div>

</body>
</html>