<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj samochód</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link th:href="@{/css/mainStyle.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin,latin-ext' rel='stylesheet'
          type="text/css"/>

    <link th:href="@{/css/fontello.css}" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" th:src="@{/js/timer.js}"></script>
</head>
<body onload="odliczanie()">
<div>
    <div class="container-fluid" id="nav">
        <div class="row justify-content-between" style="padding: 5px">
            <div class="col-1">
                <button type="button" class="btn btn-secondary" id="zegar"></button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-secondary">Zaloguj</button>
            </div>
        </div>

    </div>
    <div class="container" id="header">
        <div class="col-7" style="display: inline-block">
            <div class="row">
                <h1 class="display-5"><b>Auto Komis <i style="color: red">U ŚWAGIERA</i></b></h1>
            </div>
            <div class="row">
                <h3>Szczegóły pojazdu</h3>
            </div>
        </div>
        <div class="col-3" id="foto">
            <img th:src="@{/images/image1.png}" alt="zdjęcie samochodu"/>
        </div>

    </div>
    <div class="container" style="background-color: #595959; height: 100% ;padding: 0">
        <div class="row no-gutters">
            <div style="background-color: #595959; height: auto; display: inline-block; width: 27%;">
                <div class="row menu">
                    <ul class="list-unstyled">
                        <li>
                            <h3>MENU</h3>
                        </li>
                        <li>
                            <a th:href="@{/login}">
                                <button style="width: 200px" type="button" class="btn btn-secondary">Logowanie</button>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/auto-komis/cars}">
                                <button style="width: 200px" type="button" class="btn btn-secondary">Przeglądaj samochody</button>
                            </a>
                        </li>
                        <li>
                            <button style="width: 200px" type="button" class="btn btn-secondary">Kontakt</button>
                        </li>
                    </ul>
                </div>
                <div class="row" style="background-color: #262626; height: auto; margin: 10px; color: whitesmoke">
                    <ul class="list-unstyled">
                        <li>
                            <h3>Panel Klienta</h3>
                        </li>
                        <li>
                            <button type="button" class="btn btn-secondary">Umów się na spotkanie
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
            <div style="background-color: #595959; height: auto; display: inline-block; width: auto; padding: 10px; color: ghostwhite">
                <h1>Dodaj samochód</h1>
                <form th:action="@{/auto-komis/cars}" th:object="${newCar}" method="post">
                    <table>
                        <tr>
                            <td>Marka</td>
                            <td >
                                <select th:field="*{manufacturer}" name="manufacturer" class="form-control">
                                    <option value="">wybierz z listy</option>
                                    <option th:each="manufacturer : ${allManufacturers}"
                                            th:value="${manufacturer.id}"
                                    th:text="${manufacturer.name}">name</option>
                                </select>
                            </td>
                            <td>
                                <span style="color: red" th:if="${#fields.hasErrors('manufacturer')}"
                                      th:errors="*{manufacturer}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{model}"/>
                            </td>
                            <td>
                                <span style="color: red" th:if="${#fields.hasErrors('model')}"
                                      th:errors="*{model}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rodzaj paliwa</td>
                            <td>
                                <select th:field="*{fuel}" name="fuel" class="form-control">
                                    <option value="0">wybierz...</option>
                                    <option value="1">benzyna</option>
                                    <option value="2">diesel</option>
                                    <option value="3">LPG</option>
                                    <option value="4">hybryda</option>
                                    <option value="5">elektryczny</option>
                                </select>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('fuel')}"
                                      th:errors="*{fuel}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rok produkcji</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{productionYear}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('productionYear')}"
                                      th:errors="*{productionYear}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rodzaj nadwozia</td>
                            <td>
                                <select th:field="*{bodyType}" name="fuel" class="form-control">
                                    <option value="0">wybierz...</option>
                                    <option value="1">osobowy</option>
                                    <option value="2">ciężarowy</option>
                                    <option value="3">hatchbank</option>
                                    <option value="4">kombi</option>
                                    <option value="5">kabrio</option>
                                    <option value="5">sedan</option>
                                    <option value="5">limuzyna</option>
                                </select>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('bodyType')}" th:errors="*{bodyType}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Przebieg</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{mileage}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Cena</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{price}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Silnik</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{engine}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Moc (KM)</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{power}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('power')}" th:errors="*{power}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rodzaj skrzyni biegów</td>
                            <td>
                                <select th:field="*{transmission}" name="transmission" class="form-control">
                                    <option value="0">wybierz...</option>
                                    <option value="1">manualna</option>
                                    <option value="2">automat</option>
                                    <option value="3">półautomat</option>
                                </select>
                            </td>
                            <td>
                                <span style="color: red" th:if="${#fields.hasErrors('transmission')}" th:errors="*{transmission}"></span>
                            </td>

                        </tr>
                        <tr>
                            <td>Numer nadwozia</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{bodyNumber}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('bodyNumber')}" th:errors="*{bodyNumber}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Numer dowodu rejestracyjnego</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{documentNumber}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('documentNumber')}" th:errors="*{documentNumber}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Numer ubezpieczenia</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{insuranceNumber}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('insuranceNumber')}" th:errors="*{insuranceNumber}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Opis</td>
                            <td>
                                <input class="form-control" type="text" th:field="*{description}"/>
                            </td>
                            <td>
                                <span class="form-control alert-danger" role="alert" style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Dodaj do bazy"/>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="socials">
    <div class="socialdivs">
        <div class="fb">
            <i class="icon-facebook"></i>
        </div>
        <div class="yt">
            <i class="icon-youtube"></i>
        </div>
        <div class="tw">
            <i class="icon-twitter"></i>
        </div>
        <div class="gplus">
            <i class="icon-gplus"></i>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div class="container-fluid" id="footer">
    Auto-Komis U ŚWAGIERA &copy; 2018
</div>

</body>
</html>