
.login[type=text],
.login[type=password]
{
    width: auto;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px 0;
}

.login[type=text]:focus,
.login[type=password]:focus
{
    -webkit-box-shadow: 0 0 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0 0 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0 0 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

.login::-webkit-input-placeholder
{
    color: #999;
}
.login:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
.login:-moz-placeholder
{
    color: #999;
}
.login:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
.login::-moz-placeholder
{
    color: #999;
}
.login:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
.login:-ms-input-placeholder
{
    color: #999;
}
.login:focus:-ms-input-placeholder
{
    color: #428C42;
}
