body {
    background: linear-gradient(gray, #262626);
    font-family: 'Lato', sans-serif;
    height: auto;
}
div.mainContainer{
    min-width: 1400px;
}
.content{
    padding: 10px;
}


/*FOR USERS I CARS*/

/*Tabela*/


.table{
    margin-bottom: 0 !important;
}

.firstColumn{
    max-width: 30px !important;
}

.table-wrap {
    /* kontener otaczający ma być przewijalny */
    overflow: auto;
    position: relative;
    max-height:400px;
}
/* sztywny nagłówek tabeli */
.table-wrap.thead {
    /* nagłówek będzie przyklejony */
    position:absolute;
    left:0;
    top:0;

    min-width:100%;
    z-index: 2;
}


.table-wrap.tbody {
    margin-top:70px;
    z-index: 1;
    position: relative;
}


.table-wrap table {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
}


.table-wrap th > div {
    position: relative;
    height:100%;
}
table th .column-label,
table td div {
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display: block;
    padding:0 5px;
}
.menu {
    background-color: #262626;
    text-align: center;
    color: ghostwhite;
    margin: 0 10px 10px 10px;
    padding: 10px 0;
}

.menuButtons{
    min-width: 90%;
    max-width: 90%;
    margin: 5px 0;
    padding-right: auto;
    padding-left: auto;
    height: auto;
    white-space:pre-line;
}

/*LOGINPAGE*/

#loginContent{
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}

/*LOGO*/

#logo {
    background: linear-gradient(#bfbfbf, #595959);
    color: ghostwhite;
    height: 200px;
    text-align: center;

}

/*NAVBAR*/

#nav {
    background: #303030;
    text-align: center;
    color: whitesmoke;
}

#zegar {
    color: ghostwhite;
    text-align: center;
}

/* FOOTER*/

#footer {
    text-align: center;
    background-color: #222222;
    color: ghostwhite;
    padding: 10px 10px;
}

.socials {
    text-align: center;
    background-color: #292929;
    color: ghostwhite;
}

.fb {
    height: 155px;
}

.fb:hover {
    background-color: #4668b3;
}

.yt {
    height: 155px;
}

.yt:hover {
    background-color: #d94348;
}

.tw {
    height: 155px;
}

.tw:hover {
    background-color: #3095d3;
}

.gplus {
    height: 155px;
}

.gplus:hover {
    background-color: #d95333;
}


