body {
    background: linear-gradient(gray, #262626);
    font-family: 'Lato', sans-serif;
}



#foto {
    display: inline-block;
    position: center;
    margin: 20px;
}

.menu {
    background-color: #262626;
    height: 58%;
    text-align: center;
    color: ghostwhite;
    margin: 10px;
}

li {
    margin: 10px;
}

#logo {
    background: linear-gradient(#bfbfbf, #595959);
    color: ghostwhite;
    height: 200px;

}

/*NAVBAR*/

#nav {
    background: #303030;
    text-align: center;
    color: whitesmoke;
}

#zegar {
    color: ghostwhite;
    text-align: center;
}

/* FOOTER*/

#footer {
    text-align: center;
    background-color: #222222;
    color: ghostwhite;
    padding: 10px 10px;
}

.socials {
    text-align: center;
    background-color: #292929;
    color: ghostwhite;
}

.fb {
    height: 155px;
}

.fb:hover {
    background-color: #4668b3;
}

.yt {
    height: 155px;
}

.yt:hover {
    background-color: #d94348;
}

.tw {
    height: 155px;
}

.tw:hover {
    background-color: #3095d3;
}

.gplus {
    height: 155px;
}

.gplus:hover {
    background-color: #d95333;
}


