<div data-th-fragment="allCars" class="row no-gutters">
    <div class="container mainContainer" style="background-color: #595959;">
        <div class="row no-gutters content" >
            <div class="col-lg-3">
                <div data-th-replace="fragments/forLoggedUsers :: forLoggedUsers"></div>
            </div>
            <div class="col-lg-9" >
                <h2 style="color: ghostwhite" data-th-text="${text}">text</h2>
                <div class="content">
                    <input style="margin-bottom: 5px" class="form-control" id="myInput" type="text" placeholder="Wyszukaj..."/>
                    <form >
                        <h1 ></h1>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover table-dark" id="cars">
                                <thead>
                                    <tr style="text-align: center">
                                        <th class="firstColumn">Zdjęcie</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Rok produkcji</th>
                                        <th>Przebieg</th>
                                        <th>Cena</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                <tr style="text-align: right" data-th-each="car : ${cars.content}">
                                    <td class="firstColumn">tu będzie zdjęcie</td>
                                    <td style="text-align: center">
                                        <img class="rounded img-fluid"
                                             data-th-src="${car.manufacturer.image}"
                                             data-th-alt="${car.manufacturer.name}" height="70px" width="110px" />
                                    </td>
                                    <td data-th-text="${car.model.name}">Model</td>
                                    <td data-th-text="${car.productionYear}">Rok produkcji</td>
                                    <td data-th-text="${car.mileage}">Przebieg</td>
                                    <td data-th-text="${car.price} + ' PLN'">Cena</td>
                                    <td>
                                        <a data-th-href="@{/auto-komis/online/cars/{carId} (carId=${car.id})}">
                                            Szczegóły
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            <ul class="nav justify-content-center">
                                <li class="nav-item" data-th-each="i : ${#numbers.sequence(0, cars.totalPages-1)}">
                                    <a data-th-href="@{/auto-komis/online/allcars/(page=${i})}" data-th-text="${i}" class="nav-link"
                                    data-th-classappend="${currentPage}== ${i}?'active' : ''"></a>
                                </li>
                            </ul>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>