<div data-th-fragment="footer">
    <div class="row no-gutters">
        <div class="container-fluid socials">
            <div class="container">
                <div class="row justify-align-center ">
                    <div class="col-sm-6 col-md-3 fb">
                        <i class="icon-facebook"></i>
                    </div>
                    <div class="col-sm-6 col-md-3 yt">
                        <i class="icon-youtube"></i>
                    </div>
                    <div class="col-sm-6 col-md-3 tw">
                        <i class="icon-twitter"></i>
                    </div>
                    <div class="col-sm-6 col-md-3 gplus">
                        <i class="icon-gplus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="container-fluid" id="footer">
            Auto-Komis U ŚWAGIERA &copy; 2018
        </div>
    </div>
</div>

