<div data-th-fragment="forLoggedUsers">
    <div class="container row" style="background-color: #595959; min-height: 600px; height: auto">
        <div class="row no-gutters" style="width: 100%">
                <div data-sec-authorize="hasRole('ROLE_CLIENT')" class="row menu">
                    <ul style="width: 100%" data-th-object="${user}">
                        <li>
                            <h3 style="margin: 5px">Panel Klienta</h3>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/cars}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Przeglądaj dostępne<br/> do kupienia samochody
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/newcar}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Sprzedaj samochód <br/> bezpośrednio do komisu
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/depart-car}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Odstąp samochód <br/> do komisu
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/your-cars}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Pzeglądaj <br/> odstąpione samochody
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div data-sec-authorize="hasRole('ROLE_EMPLOYEE')" class="row menu">
                    <ul style="width: 100%">
                        <li>
                            <h3 style="margin: 5px">Panel pracownika</h3>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/allcars}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Przeglądaj wszystkie<br/>samochody
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/cars}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Przeglądaj dostępne<br/> do kupienia samochody
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/newcar}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Dodaj samochód <br/> do komisu
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/clients/newclient}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Dodaj klienta <br/> - właściciela samochodu
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>

                <div data-sec-authorize="hasRole('ROLE_MANAGER')" class="row menu">
                    <ul style="width: 100%">
                        <li>
                            <h3 style="margin: 5px">Panel managera</h3>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/allcars}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Przeglądaj wszystkie<br/>samochody
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/cars}">
                                <button type="button" class="menuButtons btn btn-secondary">
                                    Przeglądaj dostępne<br/> do kupienia samochody
                                </button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/transactions/sales}">
                                <button type="button" class="menuButtons btn btn-secondary">Pokaż liste <br/> sprzedanych samochodów</button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/transactions/purchases}">
                                <button type="button" class="menuButtons btn btn-secondary">Pokaż liste <br/> kupionych samochodów</button>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/online/transactions}">
                                <button type="button" class="menuButtons btn btn-secondary">Pokaż liste <br/> wszystkich transakcji</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div data-sec-authorize="hasRole('ROLE_ADMIN')" class="row menu">
                    <ul style="width: 100%">
                        <li>
                            <h3 style="margin: 5px">Panel admina</h3>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/admin/users}">
                                <button type="button" class="menuButtons btn btn-secondary">Pokaż liste <br/> wszystkich użytkowników</button>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>

