<div data-th-fragment="forUsers">
    <div class="container" style="background-color: #595959; min-height: 600px">
        <div class="row no-gutters">
            <div>
                <div class="row menu">
                    <ul>
                        <li>
                            <h3>MENU</h3>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/cars}">
                                <input type="button"
                                       class="menuButtons btn btn-secondary"
                                       value='Przeglądaj samochody'/>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/newcar}">
                                <input type="button" class="menuButtons btn btn-secondary" value="Dodaj samochód"/>
                            </a>
                        </li>
                        <li>
                            <a data-th-href="@{/auto-komis/logout}">
                                <input type="button"
                                       class="menuButtons btn btn-secondary" value="Wyloguj"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row menu">
                    <ul>
                        <li>
                            <h3>Panel Klienta</h3>
                        </li>
                        <li>
                            <input type="button" class="menuButtons btn btn-secondary" value="Umów się na spotkanie"/>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>