<head data-th-fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title>Auto Komis</title>

    <link data-th-href="@{/css/reset.css}" rel="stylesheet"/>
    <link data-th-href="@{/css/mainStyle.css}" rel="stylesheet"/>
    <link data-th-href="@{/css/login.css}" rel="stylesheet"/>
    <link data-th-href="@{/css/fontello.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin,latin-ext' rel='stylesheet'
          type="text/css"/>

    <script type="text/javascript" data-th-src="@{/js/timer.js}"></script>
</head>